.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.flex-item {
    background-color: blueviolet;
    width: 16px;
    height: 16px;
}

.flex-item-hover {
    background-color: red;
    width: 16px;
    height: 16px;
}