.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin: auto;
}

.flex-item {
    background-color: lightgray;
    width: 16px;
    height: 16px;
}

.hidden {
    visibility: hidden;
}

.my-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}