body {
    font-family: "Roboto", sans-serif;
    background-color:#35393C;
    color:#95A3A4;
}

h1 {
    color: #FF686B;
} 

button {
    background-color: #FDCA40;
    color:#35393C;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 10px;
}

.background-color-white {
    background-color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin: auto;
}

.flex-item {
    background-color: lightgray;
    width: 16px;
    height: 16px;
}

.hidden {
    visibility: hidden;
}

.my-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.bordered {
    border-style: solid;
    border-color: #FF686B;
    border-radius: 10px;
    border-width: 5px;
}